.cardContainer {
    width: 451px;
    height: 279px;
    display: flex;
    box-shadow: 0px 4px 12px 0px #00000026;
    margin-bottom: 34px;
}

.cardContainer:nth-child(2n) {
    margin-left: 36px;
}

.previewImg {
    width: 183px;
    height: 100%;
}

.info {
    padding: 12px 20px 6px 20px;
    display: flex;
    flex-direction: column;
}

.date {
font-size: 12px;
line-height: 22px;
color: #827E7E;
margin-bottom: 7px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    border: 1px solid #D9D9D9;
    background-color: #FAFAFA;
    opacity: 65%;
    font-size: 12px;
    line-height: 14px;
    padding: 2px 4px;
    border-radius: 2px;
    margin-right: 8px;
    margin-bottom: 7px;

}

.description {
    font-size: 12px;
    line-height: 22px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 7px;
    flex: 1 1 auto;
}

    .titleAndRating {
        display: flex;
        justify-content: flex-start;
    }
    .rating {
        height: 30px;
        width: 30px;
        border-radius: 15px;
        font-size: 12px;
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 30px;
        margin-left: auto;
    }
    .rating[data-color="bad"] {
        border: 2px solid #E90000;
    }
    .rating[data-color="low"] {
        border: 2px solid #E97E00;
    }
    .rating[data-color="med"] {
        border: 2px solid #E9D100;
    }
    .rating[data-color="high"] {
        border: 2px solid #66E900;
    }

@media only screen and (max-width: 768px) {

    .cardContainer {
        width: 100%;
        margin-bottom: 20px;
        padding: 6px 10px;
        display: block;
        height: auto;
    }
    
    .cardContainer:nth-child(2n) {
        margin-left: 0;
    }
    
    .previewImg {
        width: 60px;
        height: 91px;
        position: absolute;
    }
    
    .info {
        padding: 4px 0 4px 10px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .title {
    margin-left: 60px;

    }
    
    .date {
    margin-left: 60px;
    }
    
    .tags {
        margin-left: 60px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .tag {
        border: 1px solid #D9D9D9;
        background-color: #FAFAFA;
        opacity: 65%;
        font-size: 12px;
        line-height: 14px;
        padding: 2px 4px;
        border-radius: 2px;
        margin-right: 8px;
        margin-bottom: 7px;
    }
    
    .description {
        font-size: 12px;
        line-height: 22px;
        height: 70px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: 4px;
    }

}