
.searchBtn, .ratedBtn {
    background-color: white;
    font-size: 14px;
    line-height: 22px;
    padding: 0 10px 10px 10px;
    border: none;
    opacity: 65%;
    cursor: pointer;
}

.searchBtn {
    margin-right: 10px;
}

.ratedBtn {
    margin-left: 10px;
}

.container {
    padding-bottom: 21px;
    position: relative;
}

.input {
    width: 100%;
    height: 40px;
    padding: 9px 12px;
    font-size: 16px;
    line-height: 22px;
    margin-top: 20px;
}

.tab {
    margin: 0 auto;
    width: fit-content;
    border-bottom: 1px solid gray;
}

.active {
    border-bottom: 2px solid #1890FF;
    color: #1890FF;
    opacity: 100%;
}

.searchResults {
    position: absolute;
    z-index: 2;
    background-color: white;
    box-shadow: 0px 4px 12px 0px #00000026;
    position: relative;

}

.notFound {
    padding: 15px 15px;
    height: 50px;
}


.form {
    position: relative;
}

.imgClear {
    top: 27px;
    right: 10px;
    position: absolute;
    cursor: pointer;
}

/* HTML: <div class="loader"></div> */
.loader {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        box-shadow: 0 0 0 8px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}
